<nav class="navbar">
    <ul class="navlist">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="/queue">My Queue</a></li>
        <li class="navitem"><a href="/reviews">My Reviews</a></li>
        <li class="navitem"><a href="/popular">Most Popular</a></li>
        <li class="navitem right"><button type="button" id="add-album-button">Add Album</button></li>
    </ul>
</nav>