<nav class="navbar">
    <ul class="navlist">
        <li class="navitem"><a href="./homepage.html">Home</a></li>
        <li class="navitem"><a href="./myqueue.html">My Queue</a></li>
        <li class="navitem"><a href="./myreviews.html">My Reviews</a></li>
        <li class="navitem"><a href="./highestrated.html">Most Popular</a></li>
        <li class="navitem right"><button type="button" id="add-album-button">Add Album</button></li>
    </ul>
</nav>