{{> navBarTemplate}}

<main class="content">     
    <section class="divider-container" id="rating-section">
        {{#each albums}}
            {{#if queued}}
            {{else}}
                {{> albumTemplate}}
            {{/if}}
        {{/each}}
    </section>
</main>

{{> addAlbumModalTemplate}}