{{> navBarTemplate}}

<main class="content">     
    <section class="divider-container" id="rating-section">
        {{#each albums}}
            {{> albumTemplate}}
        {{/each}}
    </section>
</main>

{{> addAlbumModalTemplate}}