{{> navBarTemplate}}

<main class="content">

            <section class="divider-container" id="queue-section">
                <h2 class="container-title">My Queue</h2>
               <!-- Dylan's example had a listened button, idk what that is-->
                {{#each albums}}
                    {{#if queued}}
                        {{> albumTemplate}}
                    {{/if}}
                {{/each}}
                <div class="see-more-link"><a href="./queue">See my entire Queue</a></div>
            </section>

            <section class="divider-container" id="review-section">
                <h2 class="container-title">Recent Reviews</h2>
                {{#each albums}}
                    {{#if reviewExists}}
                        {{> albumReviewTemplate}}
                    {{/if}}
                {{/each}}
                <div class="see-more-link"><a href="./reviews">See All Reviews</a></div>
            </section>

            <section class="divider-container" id="rating-section">
                <h2 class="container-title">Highest Rated</h2>
                <!-- sort albums by rating here -->
                {{#each albums}}
                    {{#if queued}}
                    {{else}}
                        {{> albumTemplate}}
                    {{/if}}
                {{/each}}
                <div class="see-more-link"><a href="./popular">See All Rated</a></div>
            </section>
            

</main>

{{> addAlbumModalTemplate}}     