 {{> navBarTemplate}}
 
<main class="content">        
    <section class="divider-container">
        <!-- Display all albums in queue below -->
        {{#each albums}}
            {{#if queued}}
                {{> albumTemplate}}
            {{/if}}
        {{/each}}
    </section>
</main>

{{> addAlbumModalTemplate}}