{{> navBarTemplate}}

<main class="content">       
    <section class="divider-container" id="review-section">
        {{#each albums}}
            {{#if reviewExists}}
                {{> albumReviewTemplate}}
            {{/if}}
        {{/each}}
    </section>
</main>

{{> addAlbumModalTemplate}}